.mini-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: #01370C;
}

.mini-header .text {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #FFFFFF;

}

.cart-logo {
    left: 4.17%;
    right: 12.47%;
    top: 8.33%;
    bottom: 8.33%;
    background: transparent
}